extends ../template

block content
  if error
    div#error.modal
      div.modal-content
        p= error
      div.modal-footer
        a.modal-action.modal-close.waves-effect.waves-light(href='#!') Close
  div.row
    div.col.s12.m7.l5.offset-m2.offset-l3
      p.headline Login to #{appconf.customtext.appname}
  div.row
    form.col.s12.m7.l5.offset-m2.offset-l3(method="post", action="/auth/login")
      div.row
        div.input-field.col.s12
          i.material-icons.prefix account_circle
          input#username.validate(type="text")
          label(for="username") Email
      div.row
        div.input-field.col.s12
          i.material-icons.prefix security
          input#password.validate(type="password")
          label(for="password") Password
      p.row
        div.col.s6
          button.btn.grey(type="reset") Clear Form
        div.col.s6.right-align
          button.btn.blue.darken-4(type="submit") Login 
            i.material-icons.right check_circle
  
  if error
    script $('#error').modal('open')
