extends ../template

block content
  if error
    script(type='text/javascript').
      $(document).ready(function() { Materialize.toast(error, 4000) })
  div.row
    div.col.s12.m7.l5.offset-m2.offset-l3
      h4 Login to #{appconf.customtext.appname}
  div.row
    form.col.s12.m7.l5.offset-m2.offset-l3(method="post", action="/auth/login")
      div.row
        div.input-field.col.s12
          i.material-icons.prefix account_circle
          input#username.validate(type="text")
          label(for="username") Email
      div.row
        div.input-field.col.s12
          i.material-icons.prefix security
          input#password.validate(type="password")
          label(for="password") Password
      div.row
        div.col.s6
          button.btn.grey(type="reset") Clear Form
        div.col.s6.right-align
          button.btn.blue.darken-4(type="submit") Login 
            i.material-icons.right check_circle
