link(rel="stylesheet", href="/css/jquery.auto-complete.css")

p: b Department/Program Membership

div.row
  div.input-field.col.s11
    input#usersearch(type="text", placeholder="Start typing the name of person you want to modify")

div#deptform
  div.row
    p.col.s10.offset-s1
      b Current Departments:

  div.row.departments
    ul#userdepts.collection.col.s10.offset-s1.m8.offset-m1.l6.offset-l1

  div.row
    p.col.s10.offset-s1
      b Add a Department:
  div.row
    select#deptlist.browser-default.col.s10.offset-s1.m8.offset-m1.l6.offset-l1(name="deptlist")
      option(value="", disabled, selected) Choose from:
      each d in alldepts
        option(value=d.id)= d.name
    input#peopleid(type="hidden", name="peopleid")
    button#deptadd.btn.blue.darken-4.waves-effect.waves-light(style="margin-left: 10px") Add

include ../popups.pug
script(type='text/javascript', src='/js/jquery.auto-complete.min.js')
script(type='text/javascript', src='/js/peopleSearch.js')
script(type="text/javascript", src="/js/admindepts.js")