p: b Modify an Existing Group/Department/Program

div.row
  div.input-field.col.s11
    label.active(for="deptlist") Select the group to modify:
    select#deptlist.browser-default.col.s11(name="deptlist")
      option(value="", disabled, selected) Choose from:
      each d in alldepts
        option(value=d.id)= d.name

div#groupmodform.row
  form.col.s10.offset-s1(method="post", action="/admin/groups/modify")
    input#groupid(type="hidden", name="groupid")

    div.input-field
      input#name.validate(type="text", name="name", required)
      label(for="uid") Group Name
    div.input-field
      input#url.validate(type="text", name="url")
      label(for="uid") Group URL
    div.input-field
      label.active(for="parentdeptlist") Parent Group
      select#parentdeptlist.browser-default(name="parentdeptlist", required)
        option(value="", disabled, selected) Choose from:
        each d in alldepts
          option(value=d.id)= d.name
    p.input-field
      label
        input#hidden(type="checkbox", name="hidden")
        span Hide Group from Interface?
    div.input-field
      button#deptmod.btn.blue.darken-4.waves-effect.waves-light Update Group Information

include ../popups.pug
script(type='text/javascript', src='/js/admingroups.js')
