link(rel="stylesheet", href="/css/jquery.auto-complete.css")

p: b Modify User Information

div.row
  div.input-field.col.s10.offset-s1
    input#usersearch(type="text", placeholder="Start typing the name of person you want to modify")

div#usermodform.row
  form.col.s10.offset-s1(method="post", action="/admin/usermod")
    div.input-field
      input#uid.validate(type="text", name="university_id")
      label(for="uid") University ID Number
    div.input-field
      label(for="usertype") User Type
      select#usertype(name="user_type")
        option(value="faculty") Faculty
        option(value="staff") Staff
        option(value="student") Student
    div.input-field
      input#firstname.validate(type="text", name="first_name")
      label(for="firstname") Given Name
    div.input-field
      input#middlename.validate(type="text", name="middle_name")
      label(for="middlename") Middle Name/Initial
    div.input-field
      input#lastname.validate(type="text", name="last_name")
      label(for="lastname") Surname
    div.input-field
      input#altlastnames.validate(type="text", name="alt_last_names", placeholder="Separate with commas")
      label(for="alt_last_names") Previous/Alternative Last Names Used for Publication
    div.input-field
      input#altfirstnames.validate(type="text", name="alt_first_names", placeholder="Separate with commas")
      label(for="alt_first_names") Previous/Alternative First Names Used for Publication
    div.input-field
      input#prefix.validate(type="text", name="prefix")
      label(for="prefix") Prefix
    div.input-field
      input#suffix.validate(type="text", name="suffix")
      label(for="suffix") Suffix
    div.input-field
      input#email.validate(type="email", name="email")
      label(for="email", data-error="Please enter a valide email address") Email Address
    div.input-field
      input#phone.validate(type="tel", name="phone")
      label(for="phone", data-error="Please enter a valid phone number") Phone #
    div.input-field
      input#office.validate(type="text", name="office")
      label(for="office") Office Location
    p
      label
        input#isactive(type="checkbox", name="active")
        span Active User?
    p
      label
        input#isadmin(type="checkbox", name="admin")
        span Is Admin?

    div.row
      div.input-field.col.s12
        button.btn.blue.darken-4.waves-effect.waves-light(type="submit") Update Information

include ../popups.pug
script(type='text/javascript', src='/js/jquery.auto-complete.min.js')
script(type='text/javascript', src='/js/peopleSearch.js')
