extends template

block content
  div.container
    div.row
      div.col.s12
        p.headline.red.darken-4 #{appconf.customtext.appname} Adminstration Console <i class="material-icons left">security</i>
    
    div.row
      div.col.s3
        div.collection.with-header.z-depth-2
          div.collection-header Actions
          a.collection-item(href="/admin/work") Add/Update a Work
          a.collection-item(href="/admin/pending") Process Pending Works
          a.collection-item(href="/admin/usernew") Add a New User
          a.collection-item(href="/admin/usermod") Update an Existing User
          a.collection-item(href="/admin/userdel") Remove an Existing User
          a.collection-item(href="/admin/photo") Add/Update User Photographs
          a.collection-item(href="/admin/departments") Update Department/Program Membership
          
      div.col.s9
        case page
          when "usernew"
            include admin/usernew.pug
          when "userdel"
            include admin/userdel.pug
          when "work"
            include admin/work.pug
          when "workcitation"
            include admin/workcitation.pug
          when "workform"
            include admin/workform.pug
          when "workurl"
            include admin/workurl.pug
          when "workidentifier"
            include admin/workidentifier.pug
          when "usermod"
            include admin/usermod.pug
          when "departments"
            include admin/departments.pug
          when "photo"
            include admin/photo.pug
          when "citcheck"
            include admin/citcheck.pug
          default
            p Please choose an option from the menu
        
  include popups.pug