extends template

block content
  div.container
    div.row
      div.col.s12
        p.headline #{appconf.customtext.appname} Adminstration Console
    
    div.row
      div.col.s3
        div.collection.with-header.z-depth-2
          div.collection-header Actions
          a.collection-item(href="/admin/work") Add/Update a Work
          a.collection-item(href="/admin/pending") Process Pending Works
          a.collection-item(href="/admin/personal-info") Update Personal/Professional User Information
          a.collection-item(href="/admin/photo") Add/Update User Photographs
          a.collection-item(href="/admin/departments") Update Department/Program Membership
          
      div.col.s9
        p.headline This is where the action will happen
        
