extends template

block content
  div.row
    div.col.s12.m6.detail-profile-sidebar
      p.headline Members of #{dept.group_name}
      include scholar_cards.pug
  
    div.col.s12.m6.detail-works
      p.headline Works Found: #{works_count}
      include works_list.pug
