extends template

block content
  div.row
    div.col.s12
      p.headline Members of #{dept.group_name}
    include scholar_cards.pug
  
  div.row
    div.col.s12.person-works
      include works_list.pug
