extends template

block content
  div.row
    div.col.s12
      h4.detail-title #{dept.group_name} 
        a.btn-floating.orange.darken-3.waves-effect.waves-light(href="/departments/" + dept.group_id + "/rss")
          span.icon.ion-social-rss
  div.row
    div.col.s12.m4.detail-profile-sidebar
      div.row
        p.headline Current Members of #{dept.group_name}
        include scholar_cards.pug
        
      div.row.moreinfo
        p.headline More Information
        if dept.url 
          div.row
            div.col.s6
              b Department Homepage:
            div.col.s6 
              a(href=dept.url, target="_blank")= dept.group_name
        if dept.parent_id
          div.row
            div.col.s6
              b Belongs to:
            div.col.s6
              a(href="/departments/" + dept.parent_id)= dept.parent_name
  
    div.col.s12.m8.detail-works
      include works_block.pug
