extends template

block content
  div.row
    div.col.s12.m6
      p.headline Members of #{dept.group_name}
      include scholar_cards.pug
  
    div.col.s12.m6.person-works
      include works_list.pug
