extends template

block content
  div.row
    h2.col.s12 This is where the content goes...
    
  div.row
    div.col.s6
      div.card.blue-grey.darken-1
        div.card-content.white-text
          span.card-title I'm a card
          p This has some stuff in it
