extends template

block content
  div.row
    div.col.s12.m6
      div.col.s12
        p.headline A Sample of #{appconf.orgshortname} Scholars
      include scholar_cards.pug
    div.col.s12.m6
      p.headline Recent Contributions
      include works_block.pug
