extends template

block content
  div.row
    p.col.s12 Original scholarly works from members of the Washington and Lee Community
    
  div.row
    each pers, i in people
      div.col.s2
        div.card
          div.card-image
            img(src="https://www.wlu.edu/images/directory/thumbnails/" + pers.image + ".jpg")
            button.btn-floating.halfway-fab.blue.darken-4= pers.count
          p(style="padding: 0 0 10px;")= pers.last_name
