extends template

block content
  div.row
    div.col.s12.m8
      div.col.s12
        p.headline= sampling
      each pers, i in people
        unless i%5
          div.row
        div.col.s2
          div.card
            div.card-image
              img(src=imgrootdir + pers.image + defimgext)
              button.btn-floating.right-fab.blue.darken-4= pers.count
            p.cardname= pers.last_name
    div.col.s12.m4
      p.headline Recent Contributions
      div.col.s4.m12
        p first
      div.col.s4.m12
        p second
      div.col.s4.m12
        p third
      
