each pers, i in people
  unless i%6
    div.row
  div.col.s2
    div.card
      div.card-image
        a(href="/people/" + pers.person_id)
          img.responsive-img(src=imgrootdir + pers.image + defimgext, alt=pers.first_name + " " + pers.last_name)
          button.btn-floating.right-fab.blue.darken-4= pers.count
      p.cardname
        a(href="/people/" + pers.person_id)= pers.last_name
