extends template

mixin res_badge(count)
  span.badge(data-badge-caption="Found")= count

mixin res_lists(list, dest, display)
  div.collection
    each el in list
      a.collection-item(href="/" + dest + "/" + el.id) #{eval(el.display)}

block content
  div.row
    div.col.s12
      if terms
        h4 Search Results for: #{terms}
      else
        h4 Search #{appconf.appname}
  
  if works
    div.row
      div.row
        div.col.s12
          p.headline Works
            +res_badge(works.length)
      div.row
        div.col.s12
          +res_lists(works, 'works', 'title_primary')

  if people
    div.row
      div.row
        div.col.s12
          p.headline Contributors
            +res_badge(people.length)
      div.row
        div.col.s12
          +res_lists(people, 'people', '(ln + ", " + fn + (mn ? " " + mn : ""))')
          
  if depts
    div.row
      div.col.s12
        p.headline Departments/Programs
          +res_badge(depts.length)
    div.row
      div.col.s12
        +res_lists(depts, 'departments', 'name')
        
  if publications
    div.row
      div.col.s12
        p.headline Publications
          +res_badge(publications.length)
    div.row
      div.col.s12
        +res_lists(publications, 'journals', 'name')
        
  if publishers
    div.row
      div.col.s12
        p.headline Publishers
          +res_badge(publishers.length)
    div.row
      div.col.s12
        +res_lists(publishers, 'publishers', 'name')
