extends template

block content
  div.container
    div.row
      div.col.s12
        p.headline #{user.first_name}
          if user.middle_name
            |  #{user.middle_name}
          |  #{user.last_name}'s Profile
    
    div.row
      div.col.s3
        div.collection.with-header.z-depth-2
          div.collection-header Actions
          a.collection-item(href="/user/work") Add/Update a Work
          a.collection-item(href="/user/info") Update Personal Information
          a.collection-item(href="/user/penname") Add Pen Name
          a.collection-item(href="/user/photo") Add/Update Photograph
          a.collection-item(href="/user/departments") Update Department/Program Membership
          a.collection-item(href="/people/" + user.id) View My #{appconf.customtext.appname} Page
          
      div.col.s9
        case page
          when "work"
            include user/work.pug
          when "workcitation"
            include user/workcitation.pug
          when "workform"
            include user/workform.pug
          when "pennames"
            include user/pennames.pug
          when "info"
            include user/info.pug
          when "departments"
            include user/departments.pug
          when "photo"
            include user/photo.pug
          default
            p Please choose an option from the menu
        
