extends template

block content
  div.container
    div.row.valign-wrapper
      div.col.s12.m9
        h4 Available Works
        
      div.col.s0.m3.right-align
        form(method="get", action=cur_list)
          label(for='resultsPerPage') Results Per Page:
          select#resultsPerPage.browser-default(name='limit')
            if limit == 10
              option(selected) 10
            else
              option 10
            if limit == 25
              option(selected) 25
            else
              option 25
            if limit == 50
              option(selected) 50
            else
              option 50
            if limit == 100
              option(selected) 100
            else
              option 100
          input(type="hidden", name="page", value="1")

    div.row
      div.col.s0.m2.sidebar.z-depth-1
        include filters.pug
          
      div.col.s12.m10
        include works_block.pug
