extends template

block content
  div.container
    div.row.valign-wrapper
      div.col.s12.m9
        h4.detail-title Available Works 
          a.btn-floating.orange.darken-3.waves-effect.waves-light(href="/works/rss")
            span.icon.ion-social-rss
        
      div.col.s0.m3.right-align
        form(method="get", action=cur_list)
          label(for='resultsPerPage') Results Per Page:
          select#resultsPerPage.browser-default(name='limit')
            if limit == 10
              option(selected) 10
            else
              option 10
            if limit == 25
              option(selected) 25
            else
              option 25
            if limit == 50
              option(selected) 50
            else
              option 50
            if limit == 100
              option(selected) 100
            else
              option 100
          input(type="hidden", name="page", value="1")
          if filter_string
            input(type="hidden", name="filters", value=filter_string)

    div.row
      div.col.s0.m3.sidebar.z-depth-3
        include filters.pug
          
      div.col.s12.m9
        include works_block.pug
