mixin pagination
  if total_works > 10
    div.col.s12.center-align
      include pagination.pug

p.headline Works 
  span.badge(data-badge-caption="Found")= total_works
+pagination
include works_list.pug
+pagination
