extends template

block content
  div.row
    div.col.s0.m2.offset-m1.sidebar.z-depth-1
      include filters.pug
        
    div.col.s12.m9
      div.col.s12.m6
        h4.works-count Works Found: #{works_count}
      include works_block.pug
