extends template

block content
  div.row
    div.col.s0.m2.offset-m1.sidebar.z-depth-1
      include filters.pug
        
    div.col.s12.m9
      div.col.s12.m6
        h4.works-count Works Found: #{works_count}
      div.col.s12.m6.right-align
        p
          form(method="get", action="/works")
            label(for='resultsPerPage') Results Per Page:
            select#resultsPerPage.browser-default(name='limit')
              if limit == 10
                option(selected) 10
              else
                option 10
              if limit == 25
                option(selected) 25
              else
                option 25
              if limit == 50
                option(selected) 50
              else
                option 50
              if limit == 100
                option(selected) 100
              else
                option 100
            input(type="hidden", name="page", value="1")
      div.col.s12.center-align
        include pagination.pug
      include works_list.pug
      div.col.s12.center-align
        include pagination.pug
