mixin pagination
  if total_works > 10
    div.col.s12.center-align
      include pagination.pug

if (!index)
  p.headline Works 
    span.badge(data-badge-caption="Works Found")= total_works.toLocaleString()
+pagination
include works_list.pug
+pagination
