header {
  margin-bottom: 3vh !important;
}

footer {
  margin-top: 3vh !important;
}

form {
  display: inline;
}

td, th {
  padding: 5px 10px;
  vertical-align: top;
}

select.browser-default {
  display: inline;
  width: auto;
  width: calc(100%/4);
  min-width: 125px;
  height: auto;
  margin-left: 10px;
}

#sidenav-overlay {
  left: 300px;
}

.people-list img {
  max-height: 85px;
}

.container {
  width: 95vw;
}

.row {
  margin-bottom: 0;
}

.row .col {
  padding: 0 .5rem;
}

.card .btn-floating.right-fab {
  position: absolute;
  right: 5px;
  bottom: -10%;
  cursor: pointer;
}

.card .btn-floating {
  width: 25%;
  height: 25%;
  line-height: 25%;
  font-size: .85rem;
}

.detail-title .btn-floating,
.people-list .btn-floating,
.dept-list .btn-floating {
  width: 29px;
  height: 29px;
  line-height: 29px;
}

.detail-title .btn-floating .icon {
  font-size: 1rem;
  padding-left: 10px;
}

.people-list .btn-floating .icon,
.dept-list .btn-floating .icon {
  font-size: 1rem;
  padding-left: 1px;
}

#searchform .btn-floating {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
}

.romeo-detail {
  margin-top: 25px;
}

.local-avail.btn-flat {
  font-size: .8rem;
  text-transform: unset;
  padding: 0 1rem;
  height: 28px;
  line-height: 28px;
  margin-right: 0 !important;
}

.local-avail.btn {
  font-size: .7rem;
  text-transform: unset;
  padding: 0 .7rem;
  height: 24px;
  line-height: 24px;
  margin-right: 5px !important;
  margin-bottom: 10px;
  min-width: 165px;
  width: auto;
}

.local-avail.btn-flat {
  margin-left: 10px;
}

.local-avail.btn-flat i {
  font-size: 1.1rem;
}

.local-avail.btn-flat i.left {
  margin-right: 10px;
}

.local-avail.btn i {
  font-size: .9rem;
}

.local-avail.btn i.left {
  margin-right: 0px;
}

::-webkit-input-placeholder {
  color: #999;
  font-style: italic;
  font-size: .9rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #999;
  font-style: italic;
  font-size: .9rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
  font-style: italic;
  font-size: .9rem;
}

:-ms-input-placeholder {
  color: #999;
  font-style: italic;
  font-size: .9rem;
}

.headline {
  font-size: 1.35rem;
  background: #0D47A1;
  color: #fff;
  padding: .5em;
  border-radius: 2px;
  margin-top: 0;
}

.headline .badge {
  padding-top: 4px;
  color: #fff;
}

#searchform .btn {
  height: auto;
  padding-top: 4px;
}

.search-results .headline {
  margin-top: .5em;
  margin-bottom: .5em;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #0D47A1;
  box-shadow: 0 1px 0 0 #0D47A1;
}

.cardname {
  padding: 0 0 10px 5px;
  font-size: .9rem;
}

.tagline {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1em .25em 0;
}

.brand-logo {
  padding-left: 10px !important;
  margin-top: 2px;
}

input[type="search"] {
  margin: 0;
}

.card-panel {
  padding: 1px 15px;
}

.card.horizontal .card-image {
    min-width: 20%;
    max-width: 20%;
}

.card.horizontal .card-image img {
  max-width: 60%;
}

.card .card-image img {
  display: inline-block;
  max-height: 194px;
}

.card.horizontal .icon {
  font-size: calc(15vmin - 100%);
  padding-left: 9px;
}

.collapsible .icon {
  font-size: 1rem;
}

.works {
  margin-top: 0;
}

.work-title {
  font-weight: bold;
  letter-spacing: .02em;
}

.work-type {
  margin-top: -10px;
}

.work-type .icon {
  padding-right: 6px;
}

.work-pub {
  font-style: italic;
}

.work-date {
  font-style: normal;
}

.work-date:after {
  content: ")";
}

.work-date:before {
  content: " (";
}

.works-count {
  font-style: italic;
  letter-spacing: -.02em;
}

.contrib-role {
  font-size: smaller;
  color: #78909c;
}

.sidebar {
  border-radius: 2px;
  padding: 0 !important;
}

.sidebar .sidebar-title {
  padding: .75rem;
  margin: 0 0 .5rem;
  letter-spacing: .01rem;
}

.collection a.collection-item {
  color: #039be5;
}

.collection a.collection-item:hover {
  color: #01579b;
}

.filter-group .collection.with-header .collection-item {
  padding: .25rem 2rem;
  font-size: .85rem;
  cursor: pointer;
}

.filter-group .collection {
  border-style: none;
}

.filter-group .collection.with-header .collection-header {
  font-weight: 700;
  letter-spacing: .01em;
  padding: .5rem 1rem;
  border-bottom: none;
}

.filter-toggle {
  font-size: .75em;
  font-style: italic;
  width: 100%;
}

.filter-group .chip {
  height: auto;
  width: 100%;
  font-size: .75em;
}

.detail-works {
  /*min-height: 75vh !important;
  overflow-y: scroll;*/
}

.person-profile-sidebar {
  padding: .75em !important;
}

.person-profile-sidebar img {
  max-width: 180px;
}

.person-profile-section {
  padding: 5px;
  border-radius: 2px;
}

.detail-profile-sidebar .publication {
  text-indent: -1.5em;
  margin-left: 1.5em;
}

.detail-profile-sidebar td {
  padding: 1px 10px;
}

.moreinfo .collapsible {
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
}

.moreinfo .collapsible-header {
  line-height: inherit;
  padding: 0;
  border-bottom: none;
}

.moreinfo .collapsible-body {
  padding: 0;
  margin-top: 2.5em;
  line-height: initial;
}

.moreinfo .collapsible-body th {
  width: 40%;
}

.moreinfo .collapsible-body th, .moreinfo .collapsible-body td {
  padding: .75rem;
}

.moreinfo .collapsible-body ul.browser-default {
  padding-left: 1.15em;
  list-style-type: disc;
}

.moreinfo .collapsible-body ul.browser-default li {
  list-style-type: disc;
}

.moreinfo .collapsible-body ul.browser-default.restrictions {
  margin-top: 1em;
}

.moreinfo .carousel {
  height: 555px !important;
}

.moreinfo .collection-item {
  font-size: .9rem !important;
}

.moreinfo .indicators {
  background: #0D47A1;
  border-radius: 2px;
}

.romeo-footnote img {
  margin-right: 1em;
}

@media screen and (min-width: 1201px) {
  .xl0 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .l0 {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .m0 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .s0 {
    display: none;
  }

  .detail-works {
    overflow-y: auto;
    height: 100%;
  }
}
