.row {
  margin-bottom: 0;
}

.btn-floating.right-fab {
  position: absolute;
  right: 3px;
  bottom: -15%;
  cursor: default;
}

.btn-floating {
  width: 30%;
  height: 30%;
  line-height: 30%;
  font-size: 90%;
}

.headline {
  font-size: 1.5rem;
  background: #0D47A1;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.cardname {
  padding: 0 0 10px 5px;
  font-size: .9rem;
}

.tagline {
  font-weight: bold;
  font-size: 1.25rem;
}

.brand-logo {
  padding-left: 10px !important;
}

.card-panel {
  padding: 1px 15px;
}

.work-title {
    font-weight: bold;
}

.work-type {
    font-size: smaller;
    margin-top: -15px;
}

.work-pub {
    font-style: italic;
}

.work-date {
    font-style: normal;
}

.work-date:after {
    content: ")";
}
.work-date:before {
    content: " (";
}
