.btn-floating.right-fab {
  position: absolute;
  right: 3px;
  bottom: -15px;
}

.btn-floating {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: small;
}

.headline {
  font-size: 1.5rem;
  background: #0D47A1;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}
