p: b Citation Checker

p.col-s10.offset-s1
	b Below is the citation you entered:
	
p.col-s10.offset-s1= citorig

p.col-s10.offset-s1
	b This is the information processed:

p.col-s10.offset-s1= citation

include ../popups.pug