p: b Citation Checker

div.row
	p.col-s10.offset-s1
		b Below is the citation you entered:
	
div.row
	p.col-s10.offset-s1= citorig

div.row
	p.col-s10.offset-s1
		b This is the information processed:

.row
	p.col-s10.offset-s1= citation