p: b Department/Program Membership

ul.collection.col.s10.offset-s1.m8.offset-m1.l6.offset-l1
  each dept in departments
    li.collection-item
      div= dept.name
        a.secondary-content.tooltipped.red-text.text-darken-4(href="#!", data-position="bottom", data-delay="50", data-tooltip="Remove " + dept.name)
          i.material-icons remove_circle

div.row
  form.col.s10.offset-s1(method="post", action="/user/departments")
    div.input-field
      select#deptlist.browser-default(name="deptlist")
        option(value="", disabled, selected) Choose a Department
        each d in alldepts
          option(value=d.id)= d.name
      label(for="deptlist") Add: 
    div.row
      div.input-field
        button.btn.blue.darken-4.waves-effect.waves-light.right(type="submit") Update

include ../popups.pug
