p: b Current Profile Photograph

if (photo.image)
  img.responsive-img(src=appconf.appurls.imgrootdir + photo.image + appconf.images.defimgext, alt="Current Profile Image", width="200")
else
  p No photo has been uploaded
  
p: b Upload a New Photograph (PNG or JPEG format only)

form(method="post", action="/user/photo", encType="multipart/form-data")
  input#newphoto(type="file", name="newphoto")

include ../popups.pug
