p: b How would you like to add a work?

p
  input#method1.with-gap(name="addwork", type="radio")
  label(for="method1") By Citation
  
p
  input#method2.with-gap(name="addwork", type="radio")
  label(for="method2") By Form

include ../popups.pug
