p: b How would you like to add a work?

p
  input#byidentifier.with-gap(name="addwork", type="radio")
  label(for="byidentifier") By Identifier

p
  input#byurl.with-gap(name="addwork", type="radio")
  label(for="byurl") By URL

p
  input#bycitation.with-gap(name="addwork", type="radio")
  label(for="bycitation") By Citation
  
p
  input#byform.with-gap(name="addwork", type="radio")
  label(for="byform") By Manual Entry

script.
  $(document).ready(function() {
    $("#byidentifier").on("click", function() {
      window.location = '/user/work/identifier';
    });

    $("#bycitation").on("click", function() {
      window.location = '/user/work/citation';
    });
    
    $("#byform").on("click", function() {
      window.location = '/user/work/form';
    });

    $("#byurl").on("click", function() {
      window.location = '/user/work/url';
    });
  });

include ../popups.pug
