p: b How would you like to add a work?

p
  input#bycitation.with-gap(name="addwork", type="radio")
  label(for="bycitation") By Citation
  
p
  input#byform.with-gap(name="addwork", type="radio")
  label(for="byform") By Form

script.
  $(document).ready(function() {
    $("#bycitation").on("click", function() {
      window.location('/user/work/citation');
    });
    
    $("#byform").on("click", function() {
      window.location('/user/work/form');
    });
  });
